.DisplayOrder {
  display: block;
  margin-top: 20px;
  @media screen and (min-width: 800px) {
    position: fixed;
    top: 25%;
    right: 0;
    width: 300px;
    margin-top: 0;
    padding: 20px;
    background: #CFB3CD;
  }
}